#carousel {
  overflow: hidden;
  background-color: #ffffff;
  background-image: -moz-linear-gradient(45deg, #888888, 25%, transparent, 25%), -moz-linear-gradient(-45deg, #888888, 25%, transparent, 25%), -moz-linear-gradient(45deg, transparent, 75%, #888888, 75%), -moz-linear-gradient(-45deg, transparent, 75%, #888888, 75%);
  background-image: -webkit-gradient(linear, 0 100%, 100% 0, color-stop(0.25, #888888), color-stop(0.25, transparent)), -webkit-gradient(linear, 0 0, 100% 100%, color-stop(0.25, #888888), color-stop(0.25, transparent)), -webkit-gradient(linear, 0 100%, 100% 0, color-stop(0.75, transparent), color-stop(0.75, #888888)), -webkit-gradient(linear, 0 0, 100% 100%, color-stop(0.75, transparent), color-stop(0.75, #888888));
  -moz-background-size: 18px 18px;
  background-size: 18px 18px;
  -webkit-background-size: 18px 18px;
  background-position: 0 0, 9px 0, 9px -9px, 0px 9px;
}
.slide {
  position: absolute;
  top: 0px;
  left: 0px;
}
#toast_area {
  position: fixed;
  bottom: 0px;
  z-index: 10;
}
