#carousel {
  position: relative;
  width: 720px;
  height: 480px;
  overflow: hidden;
  border: 1px solid black;
  background-color: blue;
}
.slide {
  position: absolute;
  top: 0px;
  left: 0px;
}
