extends ../layout

block content
  h1 Hello, #{user.username}
  
  ul
    li
      a(href="/socketio-test") Socket.io Test
  
  table.table
    thead
      tr
        th Service
        th Connected
        th
    tbody
      tr
        td Twitter
        if user.twitterToken
          td.success Connected
          td
            form(action="/connect/twitter/remove",  method="post")
              button.btn.btn-default.btn-xs(type="submit") Disconnect
        else
          td.warning Not Connected
          td
            form(action="/connect/twitter", method="get")
              button.btn.btn-default.btn-xs(type="submit") Connect
      tr
        td Instagram
        if user.instagramAccessToken
          td.success Connected
          td
            form(action="/connect/instagram/remove", method="post")
              button.btn.btn-default.btn-xs(type="submit") Disconnect
        else
          td.warning Not Connected
          td
            form(action="/connect/instagram", method="get")
              button.btn.btn-default.btn-xs(type="submit") Connect
  
  div.well
    form(method="get", action="/stream")
      div.form-group
        label(for="keyword") Keyword:
        input.form-control(type="text", name="keyword", placeholder="keyword")
      div.form-group
        button.btn.btn-primary(type="submit", name="submit") Stream