extends ../layout

block content
  h1 Hello, #{user.username}
  
  a(href="/stream/fullscreen") Fullscreen Stream Test
  
  table.table
    thead
      tr
        th Service
        th Connected
        th
    tbody
      tr
        td Twitter
        if user.twitterToken
          td.success Connected
          td
            form(action="/connect/twitter/remove",  method="post")
              button.btn.btn-default.btn-xs(type="submit") Disconnect
        else
          td.warning Not Connected
          td
            form(action="/connect/twitter", method="get")
              button.btn.btn-default.btn-xs(type="submit") Connect
      tr
        td Instagram
        if user.instagramAccessToken
          td.success Connected
          td
            form(action="/connect/instagram/remove", method="post")
              button.btn.btn-default.btn-xs(type="submit") Disconnect
        else
          td.warning Not Connected
          td
            form(action="/connect/instagram", method="get")
              button.btn.btn-default.btn-xs(type="submit") Connect
  
  div.well
    form(method="get", action="/stream")
      div.form-group
        label(for="keyword") Keyword:
        div.input-group
          input.form-control(type="text", name="keyword", placeholder="Enter a keyword to stream (i.e. \"selfie\")")
          span.input-group-btn
            button.btn.btn-primary(type="submit", name="destination", value="stream") Stream
            button.btn.btn-primary(type="submit", name="destination", value="debug") Debug