extends ../layout

block content
  h1 Hello, #{user.username}
  
  div.well
    form(method="post", action="/stream/create")
      div.form-group
        label(for="keyword") Keyword:
        div.input-group
          input.form-control(type="text", name="keyword", placeholder="Enter a keyword to stream (i.e. \"selfie\")")
          span.input-group-btn
            button.btn.btn-primary(type="submit", name="destination", value="stream") Stream
            button.btn.btn-primary(type="submit", name="destination", value="debug") Debug
      
      div.form-group
        label Services to Stream:
        if user.twitterToken
          div.checkbox
            label
              input(type="checkbox", checked, name="streamTwitter")
              | Twitter
        
        if user.instagramAccessToken
          div.checkbox
            label
              input(type="checkbox", checked, name="streamInstagram")
              | Instagram