doctype html
html
  head
    title= config.title
    
    link(rel='stylesheet', href='/bootstrap/css/bootstrap.min.css')
    link(rel='stylesheet', href='/css/style.css')
    link(rel="stylesheet", href="/css/stream.css")
    link(rel="stylesheet", href="/css/stream_fullscreen.css")
  body
    input#stream-id(type="hidden" value=streamId)
    input#root-url(type="hidden" value=config.root_url)
    #nav_container
      nav.navbar.navbar-default#main_nav(role="navigation")
        a.btn.btn-primary.navbar-btn.navbar-right#done_button(href="/user") Done

    #toast_area.col-sm-10.col-sm-offset-1

    #carousel
    
    script(type='text/javascript', src='/js/jquery-1.10.2.min.js')
    script(type='text/javascript', src='/bootstrap/js/bootstrap.min.js')
    script(type="text/javascript" src="/js/jquery.transit.min.js")
    script(type="text/javascript" src="/js/jquery.dynamiccarousel.js")
    script(type="text/javascript" src="/js/dynamiccarousel.kenburns.js")
    script(type="text/javascript" src="/socket.io/socket.io.js")
    script(type="text/javascript" src="/js/stream.js")
    script(type="text/javascript" src="/js/stream_fullscreen.js")