extends ../layout

block css
  link(rel="stylesheet", href="/css/stream.css")

block content
  #carousel
  
block scripts
  script(type="text/javascript" src="/js/jquery.transit.min.js")
  script(type="text/javascript" src="/js/jquery.dynamiccarousel.js")
  script(type="text/javascript" src="/js/dynamiccarousel.kenburns.js")
  script(type="text/javascript" src="/socket.io/socket.io.js")
  script(type="text/javascript" src="/js/stream.js")