extends ../layout

block content
  h1 Socket.io Test Page
  
  ul#growing-list
  
block scripts
  script(type="text/javascript" src="/socket.io/socket.io.js")
  script(type="text/javascript" src="/js/socketiotest.js")